<html lang="en">

<head>

  <title>TinyApp</title>

</head>

  <body>

    <h1>
      <% include ./partials/_headers %>
    </h1>

      <ul>
        <% for(var shortURL in urls) { %>
        <li>
          <%= shortURL %> => <%= urls[shortURL].longURL %>
           <% if (user && user["id"] == urls[shortURL]["userID"]) { %>
           <form method="POST" action="/urls/<%= shortURL %>/delete">
             <input type= "submit" value="DELETE">
           </form>
           <% } %>
           <a href="/urls/:id">Edit</a>
         <% } %>
        </li>
         </ul>


    <!--
    for(var k in urls(aa the urls)){
          if (yourURLList.includes(k)){
            edit and delete options
          }else{
            no options
          }
        }
    }
  }
    -->


    <p> Is this what you wanted?<p>

      <a href="http://localhost:8080/urls/new">Edit</a>

  </body>
</html>
