<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
    <body>
    </ul>
      <% include ./partials/_headers %>

      <p><%= shortURL %> ----> <%= longURL %></p>
        <form method="POST" action="/urls/<%= shortURL %>">
          <input type="text" name="newLong" placeholder="<%= longURL %>">
          <input type= "submit" value="go go go">
        </form>
    </ul>
    </body>
</html>
