<h1>THE MAGIC HAPPENS HERE</h1>
<!-- <form action= "/login" method="post">
  <input type="text" name="username">
  <input type= "submit" value="sign in!">
</form> -->

 <% if (user) { %>
  <%= user.email %>
  <form action = "/logout" method="post">
    <input type="submit" value= "logOUT">
 <% } %>
  </form>

  <a href="http://localhost:8080/register">Register here!</a>

  <a href="http://localhost:8080/login">Login</a>
